################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Linters/.vs/BeingCraftsman.Linting.Example/v16
/Linters/BeingCraftsman.Linting.Example.ConsoleApp/bin
/Linters/BeingCraftsman.Linting.Example.ConsoleApp/obj
/Linters/BeingCraftsman.Linting.Example.Libraries/bin
/Linters/BeingCraftsman.Linting.Example.Libraries/obj
*.user
*.PNG
*.suo
/Linters/.vs/BeingCraftsman.Linting.Example/DesignTimeBuild
/MovieRental/.vs/MovieRental/v15/Server/sqlite3
/MovieRental/MovieRental.ClassLibrary/obj
/MovieRental/MovieRental.Tests/obj
/MovieRental/MovieRental.ClassLibrary/bin/Debug/netstandard2.0
/MovieRental/MovieRental.Tests/bin/Debug/netcoreapp2.2
/MovieRental/.vs/
/MovieRental/MovieRental.ClassLibrary/bin/
/MovieRental/MovieRental.Tests/bin/
